/* bg for background picture */
/* .bg {
	background-image: url("../assets/bg.png");

	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
} */

/* Use a video as background */
.bg {
	/* Remove the background-image property */
	height: 100%;
	overflow: hidden; /* Hide overflow content, such as video controls */

	/* Add styles to position the video element */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#bgVideo {
	position: fixed;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
}
/* Use a video as background */

.page-home {
	background-color: rgba(197, 190, 178, 0);
	position: absolute;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	user-select: none;
}

.title-home {
	color: #fff;
	font-size: 3rem;
	font-weight: 350;
	margin: 0;
}

.button-container {
	display: flex;
	flex-direction: row;
	gap: 45px;

	font-family: "Inter";
	padding: 0px 23px;
}

.button-container-2 {
	display: flex;
	flex-direction: row;
	gap: 25px;
}

.button-404 {
	display: flex;
	min-width: 400px;
	max-width: 600px;
	height: auto;
	padding: 30px 2.5px 30px 2.5px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: #fff;
	text-decoration: none;
	overflow: hidden;
	position: relative;

	color: black;
	cursor: pointer;
}

@media (max-width: 900px) {
	.button-container {
		flex-direction: column;
	}
	.button-404 {
		min-width: 300px;
		max-width: 400px;
	}
}

.button-404:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 5px solid #fff;
	box-sizing: border-box;
	pointer-events: none;
	z-index: 1;
}

.button-404 img {
	max-width: 100%;
	max-height: 100%;
	transition: transform 0.3s ease-in-out;
	z-index: 0;
}

.button-404 span {
	position: absolute;
	bottom: 2.5%;
	/* left: 50%; */
	/* transform: translateX(-50%); */
	background-color: #fff; /* Adjust background color and opacity */
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: 700;
	font-size: 1.4rem;
	margin: 0;
}

.button-404:hover {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-404:hover img {
	transform: scale(1.1);
}

.button-404:active {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	transform: translateY(3px);
}

.button-movie {
	display: flex;
	/* flex-direction: column; */
	width: 300px;
	height: 100px;
	margin-top: 25px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: #fff;
	text-decoration: none;
	overflow: hidden;
	position: relative;

	color: black;
	cursor: pointer;
}

.button-movie:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 5px solid #fff;
	box-sizing: border-box;
	pointer-events: none;
	z-index: 1;
}

.button-movie img {
	max-width: 100%;
	max-height: 100%;
	transition: transform 0.3s ease-in-out;
	z-index: 0;
}

.button-movie:hover {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-movie:hover img {
	transform: scale(1.1);
}

.button-movie:active {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	transform: translateY(3px);
}
